body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 180%;
    font-weight: 100;
    margin-bottom: -0.5rem;
}

h3 {
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.page {
    min-height: 100vh;
}

.divider {
    overflow: hidden;
    width: 100vw;
    margin-bottom: -4px;
}

.divider svg {
    fill: #ffffff; 
    width: 125%; 
    height: 50px; 
}

svg.divider-top  {
    transform: rotate(180deg) scaleX(-1);
}

svg.divider-bottom  {
    transform: scaleX(-1);
}

.content, .header {
    padding: 2rem 0 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.content + .content {
    padding-top: 0;
}

.content-limiter {
    max-width: 650px;
    margin: 0 auto;
}

.header {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1.5rem;
}

.header .name {
    text-transform: uppercase;
    font-size: 220%;
}
.header .title {
    text-transform: uppercase;
}

.section-colored {
    color: rgb(198,207,224);
}
.section-plain {
    background-color: white;
    padding: 1rem 0;
    color: rgb(20, 20, 20);
}

.entry-row + .entry-row {
    margin-top: 4rem;
}

.entry-subtitle {
    font-weight: 300;
}

.entry-detail {
    float: right;
    font-weight: lighter;
    font-size: 80%;
    margin-left: 2rem;
}

.social {
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: center;
    padding: 1rem 0 2rem;
}

.social > a {
    margin: 1rem 1rem;
    height: 42px;
    width: 42px;
}

li + li {
    margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
    .section-plain,
    .social {
        background-color: rgb(15, 15, 32);
        color: rgb(198,207,224);
    }

    .divider svg {
        fill: rgb(15, 15, 32);
    }

    body {
        background-color: rgb(15, 15, 32);
    }
}